@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

main {
    width: 1600px;
    margin: 0 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
    
}
header{
   border-bottom: 1px solid #ececec;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-name {
    font-size: 27px;
    letter-spacing: 1px;
    color: #222222;
    font-weight: 300;
    font-family: "Lato";
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 15px;
}
.logo-name:hover{
    color: white;
    background-color: black;
}

.logo-name-pink {
    font-size: 27px;
    letter-spacing: 1px;
    color: #f16d7f;
    font-weight: 500;
    font-family: "Lato";
    text-transform: uppercase;
}
.header-nav-wrapper{
    margin-right: 345px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-form {
    display: flex;
}

.nav-browse {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0px;
    color: #222222;
    font-weight: 300;
    font-family: "Lato";
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
}
.nav-input{
    width: 280px;
}
.nav-search{
    padding: 10px;
    color: #a4a4a4;
}
.account-form{
    display: flex;
}
.account-buy{
    background-color: #ffffff;
    border: none;
}
.account-buy:hover{
    color: blue;
    outline: 10px solid blue;
}
.account-select{
    text-transform: capitalize;
    border: none;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-family: Lato;
    font-weight: 400;
    padding-left: 19px;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-right: 29px;
    margin-left: 23px;
}
.account-select:hover{
    color: #f16d7f;
    background-color: #ffffff;
}
.nav-wrapper{
    width: 755px;
}
.nav-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.nav-list{
    margin-top: 17px;
    margin-bottom: 20px;
}
.nav-link{
    text-decoration: none;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.thebrand{
    background-color: #e8e8e8;
}
.thebrand-wrapper{
    background-image: url(images/thebrand/Layer24.png);
    position: relative;
    
}
.thebrand-boldtext{
    font-size: 60px;
    letter-spacing: 2px;
    color: #222222;
    font-weight: 900;
    font-family: "Lato";
    text-align: left;
    text-transform: uppercase;
    padding-top: 220px;
    
}
.thebrand-text{
    font-size: 40px;
    letter-spacing: 2px;
    color: #222222;
    font-weight: 900;
    font-family: "Lato";
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 295px;
    
}
.thebrand-textpink{
    font-size: 40px;
    letter-spacing: 2px;
    color: #f16d7f;
    font-weight: 900;
    font-family: "Lato";
    text-align: left;
    text-transform: uppercase;
}

.thebrand-strip{
    position: absolute;
    width: 12px;
    height: 98px;
    background-color: #f16d7f;
    left: -20px;
    bottom: 305px;
    
}
